/* TOOLBAR AREA STYLES *****/

@font-face {
    font-family: 'conduititc_ttlight';
    src: url('fonts/conduitl/condil__-webfont.eot');
    src: url('fonts/conduitl/condil__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/conduitl/condil__-webfont.woff') format('woff'),
         url('fonts/conduitl/condil__-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: conduititc_ttlight, Arial, sans-serif;
	line-height: 1.5;
	word-spacing: 0.1em;
	color: #000;
	border-bottom: 1px solid #000;
}

#controlbar {
	border: 0;
	background: transparent;
}


/* CONTENT AREA STYLES *****/

#content-pane {
	border-top: 1px solid #000;
}

#loading {
	color: #000;
}

.progress-bar-horizontal {
	border: 1px solid #000;
}

.progress-bar-thumb {
	background-color: #000;
}

