/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */
// @import "~some-node-module";

$import-google-fonts: false;
$font-family: "Condi";
$a-hover-color: "#000000";

@import "./utils/mixins";

@include font-face("Condi", "../fonts/condi-light", 300, lighter, eot ttf woff svg);
@include font-face("Condi", "../fonts/condi-medium", 400, normal, eot ttf woff);
@include font-face("Condi", "../fonts/condi-bold", 700, bold, eot ttf woff);

@import "./semantic-ui/globals/reset";
@import "./semantic-ui/globals/variables";
@import "./semantic-ui/elements/container";
@import "./semantic-ui/elements/segment";
@import "./semantic-ui/elements/image";
@import "./semantic-ui/elements/list";
@import "./semantic-ui/elements/input";
@import "./semantic-ui/elements/icon";
@import "./semantic-ui/elements/button";
@import "./semantic-ui/collections/grid";
@import "./semantic-ui/collections/menu";
@import "./semantic-ui/collections/form";
@import "./semantic-ui/collections/table";
@import "./semantic-ui/collections/breadcrumb";
@import "./semantic-ui/modules/tab";
@import "./semantic-ui/modules/embed";
@import "./semantic-ui/modules/transition";
@import "./semantic-ui/modules/video";
@import "./semantic-ui/modules/search";
@import "./semantic-ui/modules/sidebar";
@import "./semantic-ui/modules/popup";
@import "./semantic-ui/views/card";
@import "./semantic-ui/views/item";
@import "./semantic-ui/views/statistic";
@import '~glidejs/dist/css/glide.core.css';
@import '~glidejs/dist/css/glide.theme.css';

a {
  text-decoration: none !important;
  color: #000;
}

#searchform {
  border: 2px #fbfbfb solid;
}

.header.curricula {
  background: #000;
  color: #fff !important;
  padding: 1rem;
  word-wrap: break-word;
  font-size: 2.1rem !important;
}

.header.curricula:hover {
  background: #f00 !important;
}

.entry-content ul > li {
  list-style: none;
  padding-bottom: 0.5em;
  margin-left: 22px;
  text-indent: -15px;
}

.entry-content ul > li::before {
  content: "—";
  position: relative;
  left: -5px;
}

#primary-nav .item {
  padding: 0.2rem 1rem !important;
}

#primary-nav a.item:hover,
#secondary-nav a.item:hover {
  background: #f00;
  color: #fff;
}

#primary-nav a.item.brand:hover {
  background: transparent !important;
}

.glide-title {
  font-size: 5rem;
}

.glide-text-overlay {
  position: absolute;
  text-align: center;
  width: 30%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: 10%;
  margin-right: auto;
  color: #fff;
  z-index: 999;
}

.glide__featured {
  top: 30%;
  width: 100%;
  z-index: 99;
  margin-left: 50%;
  position: absolute;
}

.glide__bullets > * {
  background-color: rgba(255, 255, 255, 0.5);
  width: 2rem;
  height: 1rem;
  border-radius: 0;
}

.ui.basic.segment.testimonials {
  border-top: 4px #fbfbfb solid;
  border-bottom: 4px #fbfbfb solid;
}

.glide__arrow {
  border-radius: 0;
}

.glide__bullets > *.active {
  background-color: #f00;
}

.ui.inverted.segment .ui.items > .item > .content > .description,
.ui.inverted.segment .ui.items > .item > .content > a.header {
  color: #fff !important;
}

h1 {
  font-family: Condi;
  font-weight: 500;
  border-bottom: 4px #000 solid;
}

a:hover h1 {
  color: #f00;
  border-bottom: 4px #f00 solid;
}

a.item:hover .content .header {
  border-bottom: 2px #000 solid;
  margin-bottom: -2px;
}

.ui.secondary.menu .active.item {
  background: #fff !important;
}

.header a:hover {
  text-decoration: underline !important;
}

.eka.affiliation {
  text-transform: uppercase;
}

.eka.testimonial.glide__arrows {
  top: initial;
  bottom: 10%;
  width: 6rem;
  right: 4%;
}

.eka.testimonial.glide__arrow {
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.eka.tiny.title {
  margin: 0;
  word-break: break-all;
  color: #fff;
  line-height: initial;
  text-transform: capitalize;
}

.button.tag {
  text-transform: uppercase;
  box-shadow: rgb(0, 0, 0) 0 0 0 2px inset !important;
}

.entry-content a {
  border-bottom: 2px #000 solid;
}

.entry-content a:hover {
  border-bottom: 2px #000 solid;
  border-bottom: 2px #f00 solid;
  color: #f00;
}

.ui.black.buttons .button:hover,
.ui.black.button:hover {
  border: none;
}

.ui.button.level,
.ui.button.tag {
  text-transform: uppercase;
}

.ui.button.level:hover {
  background-color: #f00;
  color: #fff;
  text-shadow: none;
  box-shadow: #f00 0 0 0 0 inset !important;
}

#primary-nav li:hover {
  background: #fbfbfb;
}

#primary-nav li.active.item {
  background: #fbfbfb;
}

#newsticker {
  list-style-type: none;
}

.newsticker {
  height: 2.5rem;
  line-height: 1.5rem;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: -0.7rem;
  margin-left: -1.4rem;
}

.newsticker a {
  color: #fff;
  text-decoration: none;
}

.newsticker a:hover {
  text-decoration: underline;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Condi;
  font-weight: 500;
}

body,
div,
span,
p {
  font-family: Condi;
  font-weight: 300;
}

p,
p span,
li,
li span,
.entry-content,
.entry-content .ui.basic.segment {
  font-size: 1.2rem !important;
  line-height: 1.6rem;
}

.ui.cards > .card,
.ui.card {
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui.cards > .card > :first-child,
.ui.card > :first-child {
  border-radius: 0 !important;
}

.ui.cards > .card > .content,
.ui.card > .content {
  padding: 1em 0;
}

.meta .category {
  text-transform: uppercase;
  font-weight: 500;
}

.ui.attached.bottom.button {
  border-radius: 0 !important;
}

.ui.basic.buttons .button,
.ui.basic.button {
  border-radius: 0 !important;
}

nav {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#secondary-nav {
  background: #fbfbfb;
}

.masonry.grid {
  display: block;
}

@media only screen and (min-width: 768px) {
  .masonry.grid {
    column-count: 2;
    column-gap: 0;
  }

  .ui.doubling.masonry.grid[class*="three column"] > .column {
    width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .masonry.grid {
    column-count: 3;
  }
}

@media screen and (max-width: 767px) {
  .glide-title {
    font-size: 1rem;
  }

  #primary-nav,
  #secondary-nav,
  #ticker-nav {
    display: none;
    pointer-events: none;
  }

  #mobile-nav {
    display: initial;
  }

  #main-header {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 767px) {
  #mobile-nav {
    display: none;
    pointer-events: none;
  }
}
