/*
Theme Name: 	Artun.ee 2013
Theme URI: 		http://www.artun.ee
Description: 	2013-2016 theme for the Estonian Academy of Arts main website.
Version: 		1.3.0
Author: 		Visual design — Epp Õlekõrs; IA & Interaction Design — Tanel Kärp;
Author URI: 	http://www.artun.ee
Tags: 			minimal, typographic, single color
*/

/**
2017
*/

/*
===========================

CONTENTS:

00 Reset
01 Sensible defaults
02 Typography
03 Navigation
04 Layout
05 Images
06 Javascript Styles
07 Media Queries 
08 Medium Editor UI

===========================
*/

/* ---------------------------------------------------------------------------------------------------------- 
00 Reset ----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio:not([controls]) {
	display: none;
}
 [hidden] {
display: none;
}
html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
}
a:focus {
	outline: thin dotted;
}
li {
	list-style:none;
}
abbr[title] {
	border-bottom:none;
}
i, em, dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #222;
	margin: 0;
	padding: 0;
}
small {
	font-size: .62em;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
label {
	cursor: pointer;
}
input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
*vertical-align: middle;
}
button, input {
	line-height: normal;
*overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}

/* ---------------------------------------------------------------------------------------------------------- 
01 Sensible Defaults ----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

body {
	background: #fff;
}
::-moz-selection {
	background: #222;
	color: #fff;
}
::selection {
	background: #222;
	color: #fff;
}
p {
	padding-bottom: .5em;
}
/* ---------------------------------------------------------------------------------------------------------- 
02 Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

@font-face {
	font-family: 'conduititc_ttlight';
	src: url('css/fonts/conduitl/condil__-webfont.eot');
	src: url('css/fonts/conduitl/condil__-webfont.eot?#iefix') format('embedded-opentype'),
		 url('css/fonts/conduitl/condil__-webfont.woff') format('woff'),
		 url('css/fonts/conduitl/condil__-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'conduititc_ttbold';
	src: url('css/fonts/conduitb/condib__-webfont.eot');
	src: url('css/fonts/conduitb/condib__-webfont.eot?#iefix') format('embedded-opentype'),
		 url('css/fonts/conduitb/condib__-webfont.woff') format('woff'),
		 url('css/fonts/conduitb/condib__-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, input, textarea {
	font-size: 16px;
	font-family: conduititc_ttlight, Arial, sans-serif;
	line-height: 1.6;
	word-spacing: .1em;
	color: #333;
}
strong, b {
	font-weight: normal;
	font-family: conduititc_ttbold, Arial, sans-serif;
}
h2, h3, h5, h6 {
	text-transform: uppercase;
	font-weight: normal;
	color: #111;
}
h2 {
	font-size: 3.24em;
	line-height: 1.03;
	letter-spacing: -.02em;
	margin: 8px 0 3px -4px;
	width: 100%;
}

	h2 a:hover {
		color: #222;
		background: transparent;
		box-shadow: none;
		text-decoration: underline;
	}

h3, h4 {
	font-size: 1.62em;
	line-height: 1.4;
	margin: 1.62em 0 .5em -1px;
	font-weight: normal;
}
h3:first-child, h4:first-child, aside + h3:first-child, h3 + h4 {
	margin-top: 0;
}
h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
}
h3 b, h3 strong, h4 b, h4 strong {
	font-family: conduititc_ttlight, Arial, sans-serif;
}


a {
	color: #222;
}
a:hover {
	color: #fff;
	background-color: #222;
	text-decoration: none;
	box-shadow: 0 0 0 .2em #222;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: #c0c0c0;
   font-family: conduititc_ttlight, Arial, sans-serif;
}

.clear {
	clear: both;
}
.float {
	float: left;
}
.form-allowed-tags {
	display: none;
}
.small {
	font-size: .62em;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.ie6 .clearfix, .ie7 .clearfix {
	zoom: 1;
}


/* ---------------------------------------------------------------------------------------------------------- 
03 Navigation ----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

nav a {
	text-decoration: none;
}
/* Main Menu */

.mainnav {
	margin-top: -23px;
	padding: 7px 5% 6px;
	width: 90%;
}

.mainnav > ul, .pagenavnew > ul {
	margin: 3px 0 0 -.5em;
}

.mainnav > ul > li, .pagenavnew > ul > li {
	float: left;
	position: relative;
	line-height: 1.4;
	padding: 2px .2em 0;
	margin-left: .3em;
	margin-right: .3em;
	display: block;
}

.mainnav span, .pagenavnew span {
	cursor: pointer;
	text-transform: uppercase;
	white-space: nowrap;
}
.mainnav span:hover, .mainnav .pointed_page_item, .pagenavnew span:hover, .pagenavnew .pointed_page_item {
	color: #fff;
	background-color: #222;
	box-shadow: 0 0 0 .2em #222;
}

.mainnav > .current_page_item, .pagenavnew > .current_page_item {
	border: 3px solid #222;
	margin: -3px;
}


/* Sub Menu */

.subnav {
	display: none;
	position: absolute;
	left: 0;
	top: 25px;
	padding: 1em;
	background: #222;
	max-height: 485px;
	overflow: scroll;
	z-index: 4;
}

.widemenu {
	width: 30em;
}

.narrowmenu {
	width: 10em;
}

.pointed_page_item + .subnav {
	display: block;
}

.current_page_item > .subnav {
	left: -3px;
}

.current_page_item, .current_page_parent {
	color: #222;
	border: 3px solid #222;
	margin: -3px;
}

.subnav ul {
	float: left;
	width: 9.6em;
	margin: 0 .2em;
}

.subnav li {
	float: left;
	clear: both;
	padding: 1px 3px;
	line-height: 1.6;
}

.subnav a {
	color: #fff;
}

.subnav ul li a:hover, .moretags:hover {
	color: #222;
	background: #fff;
	box-shadow: 0 0 0 .2em #fff;
}

.subnav .current_page_item {
	border: 3px solid #fff;
	margin: -3px;
}

/* FRONT PAGE */
.indexlinks {
	text-transform: none;
	padding: 0 5%;
	margin-top: 12px;
	margin-left: 130px;
	max-width: 940px;
}
	.indexlinks ul {
		float: left;
		width: 50%;
	}

	.indexlinks > ul > li {
		position: relative;
	}

		.indexanchor {
			font-size: 3.24em;
			line-height: 1.2;
			letter-spacing: -.02em;
		}
		.indexanchor.nav-7 {
			color: red;
		}
		.closeable {
			position: relative;
			z-index: 9;
		}

		.indexlinks a {
			text-decoration: none;
		}
		.clickable:hover, .indexlinks a:hover, .closeable {
			cursor: pointer;
			background: #222;
			color: #fff;
			box-shadow: 0 0 0 .1em #222;
		}


		.indexpane {
			position: absolute;
			display: none;
			overflow: auto;
			left: -5px;
			padding: 1em;
			background: #222;
			color: #fff;
			z-index: 5;
			width: 30em;
		}
			.indexpane ul {
				float: left;
				width: 33.3%;
				overflow: hidden;
			}
				.indexpane ul li {
					display: block;
					line-height: 1.6;
				}
					.indexpane ul li a {
						color: #fff;
					}
					.indexpane ul li a:hover, .indexpane ul li b:hover {
						color: #222;
						background: #fff;
						box-shadow: 0 0 0 .2em #fff;
					}
					.indexpane ul li b {
						font-family: conduititc_ttlight, Arial, sans-serif;
						text-decoration: none;
						text-transform: uppercase;
						cursor: pointer;
					}

					.indexpane ul li .selected {
						cursor: default;
						color: #222;
						background: #fff;
					}

					.menutitle {
						text-transform: uppercase;
						color: #fff;
						margin-bottom: .5em;
						margin-top: 1em;
					}
					.menutitle:first-child {
						margin-top: 0;
					}

/* Page menu */

.pagenav {
	padding-bottom: 5px;
	overflow: visible;
	width: 100%;
	margin: 0 -.5em 2px;
}
.pagenav li {
	line-height: 1.3;
	padding: 2px .2em 0;
	margin-left: .3em;
	margin-right: .3em;
	display: block;
	float: left;
	white-space: nowrap;
}
.pagenav a {
	text-decoration: none;
	text-transform: uppercase;
}
.pagenavnew a {
	text-decoration: none;
}
.pagenav .current_page_item a:hover, .calnav .current_page_item a:hover, .tagslist .current_page_item a:hover {
	cursor: default;
	color: #222;
	background: #fff;
	box-shadow: none;
}

/* Tags list */
.tagslist {
	margin-bottom: 2em;
}

.tagslist a {
	text-decoration: none;
	text-transform: uppercase;
}

.tagslist .tagoption, .tagslist .moretags {
	padding-bottom: 0;
	margin-left: 0;
	text-indent: 0;
	white-space: nowrap;
	display: inline;
	margin-right: .7em;
}

.tagslist > .tagoption:before, .tagslist .moretags {
	content: "";
}

.tagslist > .tagoption:nth-child(n+11) {
	display: none;
}

.moretags {
	display: none;
	text-transform: uppercase;
	cursor: pointer;
}

.tagslist .current_page_item {
	padding: .1em .2em;
}


/* ---------------------------------------------------------------------------------------------------------- 
04 Layout ----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* Footer */
footer {
	clear: both;
	width: 90%;
	padding: 2em 5%;
	border-top: 1px solid #222;
}
footer li {
	display: inline;
}
footer a {
	margin-right: .3em;
}
footer p {
	padding-bottom: 0;
}


footer h2 {
	display: none;
}

.loading-animation {
	background: #222 url(img/ajax-loader.gif) no-repeat center center;
	width: 50px;
	height: 50px;
	position: fixed;
	left: 15px;
	bottom: 15px;
	display: none;
	z-index: 999;
}

.dynamic-loading, .new_post_loading {
	background: transparent url(img/ajax-loader-light.gif) no-repeat center center;
	width: 60px;
	height: 0;
}

	.loading-open {
		height: 60px;
		-webkit-transition: height .3s ease;
		transition: height .3s ease;
	}


/* Content */

.container-home {
	margin-top: 37px;
}

.pageheader {
	width: 90%;
	padding: 21px 5% 3px;
	border-bottom: 1px solid #222;
	border-top: 1px solid #222;
	margin-top: 4px;
}

.content {
	width: 90%;
	padding: 2em 5%;	
	position: relative;
	overflow: hidden;
}

.calendarcontent {
	width: 95%;
	padding: 0 0 0 5%;
	position: relative;
	z-index: 1;
}

	.addimage {
		width: 100%;
		max-height: 400px;
		overflow: scroll;
	}
	
	.addpost {
		margin: .5em 0;
		/*padding-left: 5%;*/
	}

	.calendarcontent .addpost {
		padding: 0;
	}

		.offbutton, .deletelink {
			color: green;
			cursor: pointer;
			text-decoration: underline;
		}

		.addpostlink, .addimagelink, .editpostlink {
			display: block;
			color: green;
			cursor: pointer;
			text-decoration: none;
			padding: .1em .4em .05em;
			border: 1px solid green;
			border-radius: 4px;
		}

			.inline {
				display: inline-block;
				margin-right: .1em;
			}

			.editpostlink .dashicons {
				margin-top: 1px;
			}

			.addimagelink .dashicons, .addpostlink .dashicons {
				margin-top: 2px;
			}

		.addtablink {
			cursor: pointer;
			text-decoration: none;
		}

		.addpostlink:hover, .editpostlink:hover, .offbutton:hover, .addimagelink:hover, .deletelink:hover, .addtablink:hover, .primary {
			color: white;
			background: green;
			box-shadow: none;
		}

			.editpostlink.primay:hover {
				background: #006400;
				border-color: #006400;
			}

		.addimagelink {
			float: right;
			clear: both;
			margin-bottom: 1em;
		}

		.editpostlink {
			margin-top: .5em;
		}

	.pagenav .emptypage {
		display: none;	
	}

	.addpostform, .addimageform {
		border: 1px solid green;
		display: none;
		padding: 20px;
		margin: -20px -20px;
		background: #fff;
		z-index: 13;
		position: relative;
	}

	.addpost_title {
		border: 1px dashed green;
		font-size: 1.62em;
		width: 99%;
		padding: .5%;
		margin-bottom: .3em;
		margin-left: -1px;
	}

	.addpost_content {
		min-height: 100px!important;
		padding: .5%;
	}

	.addpost_details {
		border-top: 1px solid green;
		padding: 1.1em 1px 0;
		margin: 2.2em -1px .5em;
	}
	
	.addpost_field, .editpost_field {
		border: 1px dashed green;
		padding: .5%;
		width: 99%;
		margin-bottom: .5em;
		margin-left: -1px;
	}
	
	.addpost_title:hover, .addpost_field:hover, .editpost_field:hover {
		border: 1px solid green;
	}

	.editpost {
		display: none;
		padding-top: 1em;
		margin-top: 2em;
	}

		.editpost_field {
			width: 100%;
		}
	
	.highlight, .highlight:hover {
		border-color: #ff0000;
	}

	.addupload:hover {
		background: green;
		color: #fff;
		box-shadow: 0 0 0 .2em green;
	}

		.new_post_loading {
			display: none;
			width: 100px;
			height: 60px;
			padding-left: 50px;
			line-height: 40px;
			color: green;
			background-position: left top;
		}

		.addpostform input[type=submit], .addimageform input[type=submit] {
			background: green;
		    color: #fff;
		    border: 1px solid green;
		    border-radius: 4px;
		    padding: .1em .4em .05em;
		}
		.addpostform input[type=submit]:hover, .addimageform input[type=submit]:hover {
			background: #006400;
		    border-color: #006400;
		}

		
	

.postscontent {
	border-top: 0;
	margin-top: 15px;
}

	.postscontent article {
		margin-bottom: 0;
		padding-top: 1em;
		position: relative;
	}

		.postscontent article:after {
			content: "";
			border-top: 1px solid #222;
			display: block;
		}
		.column_left .postscontent article:after {
			margin-left: -200px;
		}

	.postscontent article:first-child {
		padding-top: 0;
	}	

		.articlethumb {
			cursor: pointer;
			float: left;
			width: 100px;
			height: 100%;
			min-height: 20px;
			margin-right: 20px;
		}

		.articlethumb img {
			width: 100%;
			margin-bottom: 1em;
		}

		.titleholder {
			padding: 0;
			margin: -6px 0 5px 120px;
				-moz-transition: margin .1s ease;
				-webkit-transition: margin .1s ease;
			transition: margin .1s ease;
		}

			.opentitleholder {
				margin-left: 0;
					-moz-transition: margin .1s ease;
					-webkit-transition: margin .1s ease;
				transition: margin .1s ease;
			}

		.articletitle {
			cursor: pointer;
			padding-bottom: 0;
		}
			.articletitle:hover {
				background: #222;
				color: #fff;
			}

		.articlecontent {
			max-height: 0;
			overflow: hidden;
				-moz-transition: max-height .6s ease, padding .6s ease;
				-webkit-transition: max-height .6s ease, padding .6s ease;
			transition: max-height .6s ease, padding .6s ease;
		}

		.opencontent {
			max-height: 50000px;
			padding-bottom: 15px;
				-moz-transition: max-height 3s ease, padding .6s ease;
				-webkit-transition: max-height 3s ease, padding .6s ease;
			transition: max-height 3s ease, padding .6s ease;
		}

	.load_more_posts {
		cursor: pointer;
		display: block;
		line-height: 2em;
		border: 1px solid #222;
		text-align: center;
		margin: 15px 0;
	}

	.load_more_posts:hover {
		background: #222;
		color: #fff;
	}

.contentbox table {
	width: 100%;
}


/* Social shares */

.post-share {
	margin-top: 2em;
}

	.post-share > a {
		display: inline-block;
		border: 1px solid #333;
		padding: .4em;
		border-radius: 2em;
	}


.ui-datepicker {
	background: #fff;
}


.tooltip{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid green;
    border-radius: 1.6em;
    text-align: center;
    width: 28px;
    height: 28px;
    padding: 0;
    margin: -3px 1px 0 2px;
}
	.tooltip .dashicons-businessman {
		vertical-align: middle;
    	margin: -1px 0 0 -1px;
	}

.tooltip:after{
	display: block;
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -8em;
	opacity: 0;
	content: attr(data-tip); 
	height: auto;
	width: 15em;
	padding: .5em;
	z-index: 999;
	color: #fff;
	background: green;
	transition: all .3s;
	text-align: left;
}

.tooltip:before {
	position: absolute;
	visibility: hidden;
	width: 0;
	height: 0;
	left: 50%;
	margin-left: -1em;
	bottom: 0px;
	opacity: 0;
	content: "";
	border-style: solid;
	border-width: 1em 1em 0 1em;
	border-color: green transparent transparent transparent;
	transition: all .3s;
}
.tooltip:hover:after{ visibility: visible; opacity: 1; bottom: 30px; }
.tooltip:hover:before{ visibility: visible; opacity: 1; bottom: 20px; }

/* File uploading */
.fileuploading {
	border: 1px dashed green;
	text-align: center;	
	padding: 3em 2em 1em;
	margin: 0 -1px 1em;
}

	.fileuploading .dashicons {
		font-size: 3em;
		width: 1em;
		height: 1em;
	}

.dropnow {
	border: 1px solid #222;
}

.fileuploading img {
	max-height: 250px;
	margin: .5em;
}


	.column_left, .column_right_new  {
		width: 37em;
		position: relative;
		z-index: 2;
	}
	.column_right_new {
		padding-left: 60px;
	}

	.column_left section, .column_right_new section {
		margin-bottom: 2em;
	}

	.column_left ul > li, .column_right_new ul > li { 
		padding-bottom: .5em;
		margin-left: 22px;
		text-indent: -15px;
	}
	
	.column_left ul > li:before, .column_right_new ul > li:before { 
		content: "—"; 
		position: relative; 
		left: -5px;
	}
	
	.column_left ol > li, .column_right_new ol > li { 
		padding-bottom: .5em;
		list-style-type: decimal;
		margin-left: 20px;
	}
	
	.column_right, .column_left_new {
		max-width: 19em;
		min-width: 9em;
		padding-left: 60px;
		position: relative;
		z-index: 2;
	}

	.column_left_new {
		padding-left: 0;
	}

		.column_right aside, .column_left_new.aside {
			margin-bottom: 2em;
			max-width: 19em;
		}

			.column_right > aside > p, .column_right > aside > h3, aside > .fee-field > p, aside > .fee-field > h3 {
				background: #fff;
				display: inline;
			}
			.column_right > aside > p:after, .column_right > aside > h3:after, .column_right > aside > h3:before, .column_right > aside > .fee-field > p:after, .column_right > aside > .fee-field > h3:after, .column_right > aside > .fee-field > h3:before {
				content: '\A';
				white-space: pre;
			}

			.column_right > aside > h3:first-child:before, .column_right > aside > .fee-field > h3:first-child:before {
				content: '';
				white-space: inherit;
			}

			.bg {
				background: #fff;
				box-shadow: 0 0 0 .2em #fff;
			}

		.column_right .caledaraside, .column_left_new .calendaraside {
			margin-bottom: 1em;
		}

			.caledartitle {
				padding: 0;
			}

		.column_right .adminaside, .column_left_new .adminaside {
			border-top: 1px solid green;
			border-bottom: 1px solid green;
			color: green;
			padding: .5em 0;
		}
		
			.adminaside a {
				color: green;
			}

.adminbar {
	border-bottom: 1px solid green;
	padding: .5em 0;
	color: green;
	width: 90%;
	position: relative;
	margin: 1em auto 0;
}
	.admin-left {
		margin-top: .2em;
	}
	.admin-right {
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
	}


	.contact_list {
		margin-bottom: 1em;
		position: relative;
		clear: both;
	}

	.contact_list > li {
		margin: .2em 0 0;
	}

		.column_left_contacts {
			width: 30%;
			float: left;
		}
		
		.column_right_contacts {
			width: 70%;
			float: left;
			position: relative;
		}

	.contact_list > li > div > span, .contact_list_title {
		cursor: pointer;
		text-transform: uppercase;
		padding: 0 .1em;
	}

	.contact_list_title {
		font-size: 1.62em;
	}

	.contact_list > li > div > span:hover, .contact_list_title:hover {
		background: #222;
		color: #fff;
		box-shadow: 0 0 0 .2em #222;
	}

	.list_contact_row {
		position: absolute;
		z-index: 2;
	}

	.current_contact_item {
		color: #222;
		border: 3px solid #222;
		margin: -3px;
	}

	.contact_card {
		width: 18em;
		height: 9em;
		margin: 0 4em 4em 0;
		float: left;
		position: relative;
	}

		.contact_card p {
			max-width: 11em;
			z-index: 3;
			position: relative;
		}

		.contact_card .contact_title {
			padding: 0;
			z-index: 3;
			position: relative;
		}

		.contact_card .contact_portrait {
			position: absolute;
			top: 7px;
			right: 0;
			z-index: 1;
			text-align: right;
		}

		.contact_card .contact_portrait img {
			max-height: 140px;
			-webkit-transition: max-height .3s ease;
			transition: max-height .3s ease;	
		}

		.contact_portrait:hover {
			z-index: 5;
		}

		.contact_portrait:hover img {
			max-height: 150px;
		}

		.contact_portrait a:hover {
			box-shadow: none;
		}
		
	
	.column_left_calendar {
		width: 20%;
		padding-top: 2em;
	}
	
	.column_right_calendar {
		padding-top: 2em;
		width: 80%;
	}
	
		.column_right_calendar > article {
			border-bottom: 1px solid #222;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	
		.calendar_list_left {
			width: 20%;	
		}
		
			.dates {
				text-transform: uppercase;
			}
		
		.calendar_list_right {
			width: 65%;	
			margin-top: -5px;
		}
		
			.calendar_today {
				background: #222;
				color: #fff;
				text-transform: uppercase;
				border-left: 2px solid #222;
				border-right: 2px solid #222;
			}


.edit {
	text-align: right;
}

.edit a {
	color: green;
}

.green, .green a {
	color: green;
}

	.green:hover, .green a:hover {
		color: #fff;
	}

	.sort {
		color: green;
		cursor: move;
	}

article {
	margin-bottom: 2em;
}
.calendar_datepicker {
	margin-bottom: 2em;
	width: 12em;
}
.adminpost {
	float: right;
	color: green;
}
	.adminpost a {
		color: green;
	}
	.adminpost .dashicons {
		margin-top: 2px;
	}
	.adminpost .dashicons-visibility {
		margin-top: 12px;
	}

.commentcount {
	font-size: .62em;
}

/* Categories selection */
.catselect {
	border: 1px dashed green;
	width: 99%;
	padding: 0 .5%;
	height: 100px;	
	-ms-overflow-y: scroll;
	overflow-y: scroll;
	margin: .1em -1px 1em;
}
.catselect > ul {
	margin: .1em;
}

	.column_left .catselect ul > li {
		padding-bottom: 0;
	}

	.column_left .catselect ul > li:before {
		content: "";
	}

.catform {
	display: none;
	text-align: left;
	font-size: 14px;
}

/* Make the Google map responsive */

.pgmm .canvas {
	width: 100%!important;
}

.maptitle {
	text-transform: uppercase;
}


/* HEADER */

header {
	margin: 0;
	padding: 23px 0 0;
	position: relative;
	z-index: 14;
}

.homeheader {
	padding: 7px 5% 0;
	margin-top: 23px;
	margin-left: 130px;
	max-width: 940px;
}

.noheader {
	padding: 7px 5% 3em;
}

	.noheader a {
		text-transform: uppercase;
		text-decoration: none;
	}

h1 {
	position: absolute;
	left: 5%;
	margin-left: -45px;
	width: 35px;
}
	.heading-home-en, .heading-home-et {
		position: relative;
		margin-left: -176px;
		width: 440px;
		height: 95px;
		direction: ltr;
		text-indent: -999px;
	}

	.heading-home-en {
		width: 480px;
	}

	.heading-x {
		width: 132px;
		height: 34px;
		position: relative;
		margin-left: -1px;
		margin-top: 10px;
		left: 0;
	}

	h1 a {
		direction: ltr;
		text-indent: -999px;
		display:  block;
		height: 28px;
		width: 35px;
	}
	h1 a:hover {
		border: 0;
		margin: 0;
	}
		.heading-x a {
			height: 100%;
			width: 100%;
		}

nav h1 {
	top: 7px;
}
	
	/* Searchbox in the header */

	.searchbegin {
		height: 30px;
		width: 30px;
		cursor: pointer;
		margin: -2px -8px;
	}

	.searchbox {
		position: absolute;
		right: -2px;
		width: 250px;
		background: #222;
		color: #fff;
		display: none;
		padding: 1em;
	}

	.pointed_search + .searchbox {
		display: block;
	}

		.searchbox .quicksearchbox {
			border: 1px solid #fff;
			color: #fff;
			padding: .3em .4em;
			background: #222;
			width: 90%;
		}

		.searchbox .quicksearchbtn {
			border: 1px solid #fff;
			color: #fff;
			padding: 0px .4em 2px;
			margin: 2px 0 0 -52px;
			background: #222;
		}

		.searchbox .quicksearchbtn:hover {
			border: 1px solid #fff;
			color: #222;
			background: #fff;
		}

	.searchbox-home {
		margin-bottom: -2px;
	}

	.searchbox-home .quicksearchbox {
		border: 1px solid #fff;
		padding: 0 0 0 2px;
		background: #fff;
		height: 58px;
		margin: 4px 0 0 -3px;
		font-size: 3.24em;
		letter-spacing: -.02em;
		line-height: 1;
		width: 90%;
	}
		.searchbox-home .quicksearchbox:hover {
			border: 3px solid #222;
			margin: 2px -3px -3px -12px;
			padding: 0 0 0 9px;
		}

	.searchbox-home .quicksearchbtn {
		display: none;
	}

	/* Searchbox on the search page */
	.bigsearchbox {
		float: left;
		width: 70%;
		border: 1px solid #222;
		padding: 0 .1em;
		font-size: 3.24em;
		line-height: 1;
		letter-spacing: -.02em;
		margin: 14px 0 10px 0;
	}

	.bigsearchbtn {
		border: 1px solid #222;
		font-size: 1.62em;
		line-height: 1;
		padding: .4em;
		letter-spacing: -.02em;
		background: #fff;
		margin: 24px 0 10px -74px;
	}

		.bigsearchbtn:hover {
			background: #222;
			color: #fff;
		}
	
	/* Searchbox on the search page */
	.stdsearchbox {
		float: left;
		width: 50%;
		border: 1px solid #222;
		padding: .4em;
		line-height: 1;
	}

	.stdsearchbtn {
		border: 1px solid #222;
		line-height: 1;
		padding: .3em;
		background: #fff;
		margin: 4px 0 10px -45px;
	}

		.stdsearchbtn:hover {
			background: #222;
			color: #fff;
		}

	/* Links in the header */
	.headerlinks {
		position: absolute;
		right: 5%;
		top: 10px;
		z-index: 14;
	}
	.headerlinks-home {
		position: absolute;
		top: 46px;
		left: 50%;
		margin-left: -1em;
	}
	.fixed .headerlinks {
		position: fixed;
	}
	.headerlinks a, .headerlinks-home a {
		text-decoration: none;
	}
		.headerlinks-home > li {
			clear: both;
		}

			.utility {
				display: inline;
				overflow: hidden;
				position: relative;
				margin-left: .3em;
			}
			.headerlinks-home .utility {
				margin-left: 0;
			}
	.headerlinks li, .headerlinks, .utility li, .headerlinks-home li {
		float: left;
		margin-left: .6em;
		white-space: nowrap;
	}

	.mobileheader {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 90%;
		padding: 7px 5%;
		height: 30px;
		background: #fff;
		border-bottom: 1px solid #222;
		z-index: 11;
	}
		
		.logo {
			float: left;
		}
		
			.logo a {
				display: block;
				width: 35px;
				height: 28px;
			}

		.opennav, .closenav {
			float: left;
			margin-left: 10px;
			height: 28px;
			width: 35px;
			cursor: pointer;
		}
			.opennav a, .closenav a {
				display: block;
				text-decoration: none;
				width: 100%;
				height: 100%;
			}
		.closenav {
			display: none;
			margin: 1em 5%;
			width: 1.8em;
		}

/* News ticker */

.newsticker {
	width: 90%;
	padding: 0 5%;
	background: #222;
	height: 1.9em;
	line-height: 2em;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
}
	.newsticker a {
		color: #fff;
		text-decoration: none;
	}
	.newsticker a:hover {
		text-decoration: underline;
	}
	.tickerlinks {
		position: absolute;
		top: 0;
		right: 5%;
		text-transform: none;
		background: #222;
		padding-left: 1em;
		white-space: nowrap;
	}


/* LOGGED IN USER ACTIONS */

.eka_messages {
	position: absolute;
	width: 90%;
	padding: 2px 5% 0;
	background: green;
	color: #fff;
	z-index: 99;
	min-height: 28px;
	line-height: 30px;
	display: none;
}

	.eka_messages .dashicons {
		font-size: 1.5em;
    	width: 1em;
    	margin: .08em .2em 0 -1.2em;
	}

.useractions {
	background: #ccc;
	min-height: 28px;
	line-height: 30px;
	color: #666;
	position: relative;
	width: 90%;
	padding: 2px 5% 0;
	z-index: 12;
	overflow: hidden;
}

	.useractions a {
		color: #666;
		text-decoration: none;
	}
	
	.useractions a:hover {
		color: #fff;
		background: green;
		box-shadow: 0 0 0 .2em green;
	}
	
	.useractions li {
		float: right;
		margin-right: .5em;
	}
	.usercontent {
		float: left;
	}
	.userlinks {
		float: right;
		margin-right: 1em;
		position: relative;
	}
	.userlinks a {
		color: #666;
	}
	.userlinks a:hover {
		color: #fff;
	}
		.menu-otselingid-sisseloginule-container ul {
			position: absolute;
			top: 0;
			right: 0;
			width: 400px;
		}
	.userinfo {
		float: right;
	}
		.userinfo li {
			margin: 0 0 0 .5em;
		}
	
	.templogin p {
		float: left;
		margin-right: 1em;
	}

	.usercanvas {
		clear: both;	
	}

		.firstlogin {
			padding: 1em 0 3em;
			po
		}

			.firstlogin li {
				float: none;
			}

			.firstlogin .catselect {
				width: 70%;
				min-width: 400px;
				height: 25em;
				border-color: #666;
				margin-bottom: 1em;
			}

			.firstlogin .catselect > ul > li > input {
				display: none;
			}

			.firstlogin .catselect > ul > li > label {
				cursor: default;
				margin: 1em 0 0 .5em;
				text-transform: uppercase;
			}

	.usercuratedcontent {
		display: none;
	}

		.curatedtabs {
			float: none;
			margin: 1em 0;
		}

			.curatedtabs li {
				float: left;
				cursor: pointer;
				padding: 0 .4em;
			}

			.curatedtabs li:hover {
				color: white;
				background: green;
				box-shadow: 0 0 0 .2em green;
			}

		.curatedhead {
			float: none;
		}

			.curatedhead li {
				float: left;
				text-transform: uppercase;
				margin:0 2% .5em 0;
			}

			.curatedlist li {
				float: none;
				margin-right: 0;
			}

				.curatedlist li > div {
					float: left;
					margin:0 2% .5em 0;
				}	

	.usercuratedcontent .current_list_item {
		border-color: green;
	}


.error {
	background: green;
    color: #fff;
    padding: 1em 1em 1em 3em;
    width: 33em;
    position: relative;
}
	.error .dashicons {
		position: absolute;
	    left: 1em;
	    top: .86em;
	}


	
/* COMMENTING FORM AND SOME OTHER FORM ELEMENTS */

.comment-form-comment textarea {
	width: 16em;
	height: 4em;	
}

.comment-form-author, .comment-form-email, .form-submit, .closeview {
	width: 17em;	
	max-height: 0px;
	overflow: hidden;
	padding: 0;
	margin-bottom: .5em;
}

.comment-form-author.openview, .comment-form-email.openview, .form-submit.openview, .openview {
	max-height: 50px;
	-webkit-transition: max-height .3s ease;
	transition: max-height .3s ease;
}




/* ---------------------------------------------------------------------------------------------------------- 
05 Images ----------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.gallery {
	width: 90%;
	padding: 0 5%;
	margin-top: 3em;
}

.gallery-scroll {
	position: absolute;
	right: 5%;
	top: -250px;
	padding-top: 284px;
	padding-bottom: 200px;
	z-index: 1;
}

	.gallery-scroll img {
		max-height: 240px;
		-webkit-transition: max-height .3s ease;
		transition: max-height .3s ease;
	}

	.gallery-scroll .imagebox img {
		cursor: -webkit-zoom-in; 
		cursor: -moz-zoom-in;
		cursor: zoom-in;
	}

.gallery-scroll:hover {
	z-index: 5;
}

	.gallery-scroll:hover img {
		max-height: 250px;
		-webkit-transition: max-height .3s ease;
		transition: max-height .3s ease;
	}

.gallery-home {
	width: 90%;
	padding: 0 5%;
	margin-top: 2em;
	margin-bottom: 5em;
}

.gallery-contacts {
	margin-top: -3em;
	margin-bottom: 2em;
}

.gallery-projects {
	width: 100%;
	margin-top: 2em;
}

	.gallery-home img, .gallery-projects img {
		max-height: 250px;
	}

.gallery .imagewrapper, .gallery-home .imagewrapper, .postrollgallery .imagewrapper, .gallery-projects .imagewrapper {
	margin: 1em 2em 1em 0;
	float: left;
	height: 250px;
}

	.gallery-dept .imagewrapper {
		position: relative;
		margin-bottom: 6em;
	}

	.gallery-contacts .gallery-dept .imagewrapper {
		margin-bottom: 3em;
	}

	.postrollgallery .imagewrapper {
		height: auto;
	}

	.postrollgallery img {
		max-width: 100%;
	}


.gallery-scroll .imagewrapper {
	margin: 0 0 2em 2em;
	height: 250px;
	float: right;
	clear: both;
}

.imagewrapperlarge {
	margin-bottom: 2em;
	float: left;
}

	.imagewrapperlarge img {
		max-width: 100%;
	}

		.imagebox {
			position: relative;
			min-width: 90px;
		}
			.imagebox > img {
				z-index: 3;
				position: relative;
				cursor: pointer;
			}

			.attachment-medium {
				max-height: 250px;
			}

			.imagebox:hover > img {
				z-index: 1;
			}

			.imagedetails {
				position: absolute;
				top: 100%;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 2;
				background: rgba( 0, 0, 0, .7 );
				color: #fff;
				cursor: pointer;
				overflow: hidden;
				transition: top .2s;
			}

				.imagebox:hover .imagedetails {
					top: 0;
					transition: top .2s;
				}

				.imagecontent a {
					color: #fff;
				}

				.imagedetails > h5, .imagedetails > div, .imagedetails > p {
					padding: 1em 1em 0;
					color: #fff;
				}

				.imagedetails .readmore {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 1.5em 0 1em 1em;
					font-style: italic;
				}

				.deptimage h5 {
					position: absolute;
					left: 0;
					right: 0;
					margin-top: 10px;
					text-transform: none;
				}

				.contactimage .contactdetails {
					position: absolute;
					left: 0;
					right: 0;
					margin-top: 10px;
					text-transform: none;
				}


				.adminimage {
					position: absolute;
					bottom: .8em;
					right: 0em;
					z-index: 1;
				}

					.adminimage a, .imageedit {
						color: #fff;
						display: inline-block;
						cursor: pointer;
						text-decoration: none;
						padding: .1em .4em .05em;
						border: 1px solid #fff;
						border-radius: 4px;
					}

						.adminimage .dashicons {
							margin-top: 1px;
						}

						.adminimage a:hover, .imageedit:hover {
							background: green;
							border-color: green;
						}

						.imageedit.sort:hover {
							background-color: transparent;
							cursor: move;
						}

				.imagebox:hover .adminimage {
					z-index: 3;
				}

			.textimage {
				max-width: 12em;
				height: 255px;
				margin-top: -5px;
				margin-left: -5px;
				padding-left: 5px;
				overflow: hidden;
			}
				.textimage a {
					text-decoration: none;
					cursor: pointer;
				}

				.textimage .imagecontent {
					margin-top: 1.62em;
				}

				.textimage .readmore {
					position: absolute;
					left: 0;
					right: 0;
					bottom: -5px;
					padding-top: 2em;
					background: #fff;
					font-style: italic;
					padding-bottom: 0;
				}

/* Big image overlay */
.imageoverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .9); 
	z-index: 20;
	text-align: center;
}

	.imageoverlay img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		max-width: 100%;
		max-height: 100%;
		z-index: 30;
	}

	.imageoverlay p {
		position: fixed;
		bottom: 1.5em;
		right: 1.5em;
		margin: 0;
		padding: 0 .5em;
		display: inline-block;
		text-align: right;
		background: rgba(255, 255, 255, .5);
		z-index: 40;
	}

	.imageoverlay .closeoverlay {
		position: fixed;
		right: .5em;
		top: .5em;
		width: 1.5em;
		height: 1.5em;
    	line-height: 1.55em;
		background: rgba(255, 255, 255, .5);
		cursor: pointer;
		cursor: -webkit-zoom-out; 
		cursor: zoom-out;
		font-size: 3em;
		z-index: 40;
	}
	.imageoverlay .closeoverlay:hover {
		background: rgba(0, 0, 0, .5);
		color: #fff;
	}

	.imageoverlay .nextprev {
		position: absolute;
		right: .5em;
		left: .5em;
		top: 50%;
		font-size: 3em;
		transform: translateY(-.5em);
		z-index: 40;
	}
		.nextprev span {
			display: block;
			width: 1.5em;
			height: 1.5em;
    		line-height: 1.35em;
			background: rgba(255, 255, 255, .5);
			cursor: pointer;
		}
		.nextprev span:hover {
			background: rgba(0, 0, 0, .5);
			color: #fff;
		}
		.nextprev .next {
			position: absolute;
			right: 0;
		}
		.nextprev .prev {
			position: absolute;
			left: 0;
		}

	.imageoverlay .preview-file {
		width: 960px;
		margin-top: -20px;
	}


/* Sprite for regular 72dpi displays */
h1 a, .logo a, .heading-home-en, .heading-home-et, .opennav a, .closenav a, .searchbegin, .pointed_search {
	background: transparent url(img/artunee-gfx-01.png) no-repeat;
}
/* Sprite for high-resolution displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	h1 a, .logo a, .heading-home-en, .heading-home-et, .opennav a, .closenav a, .searchbegin, .pointed_search {
		background-image: url(img/artunee-gfx-02.png);
		background-size: 476px 246px;
	}
}
h1 a, .logo a {
	background-position: 0 0;
}
h1 a:hover, .logo a:hover {
	background-position: 0 -30px;
}
	.heading-home-et {
		background-position: 0 -59px;
	}
	.heading-home-en {
		background-position: 1px -152px;
	}
.opennav a {
	background-position: -35px 0;
}
.opennav a:hover {
	background-position: -35px -30px;
}
.closenav a {
	background-position: -70px 0;
}
.closenav a:hover {
	background-position: -70px -30px;
}
.searchbegin {
	background-position: -98px 0;
}
.searchbegin:hover, .pointed_search {
	background-position: -98px -30px;
}
.heading-x a {
	background-position: -130px 0;
}
	.heading-x a:hover {
		background-position: -130px 0;
	}

/* ---------------------------------------------------------------------------------------------------------- 
06 Javascript styles-----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* Datepicker */
.ui-datepicker-calendar tr th {
	text-align: left;
	font-weight: 400;
}
.ui-datepicker-calendar tr td {
	padding: .1em .5em 0 0;
}
.ui-datepicker-prev {
	float: left;
	z-index: 2;
	position: relative;
}
.ui-datepicker-next {
	float: right;
	z-index: 2;
	position: relative;
}

.ui-datepicker-title {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 4px;
}

/* Autosuggest */
.ac_results {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 40;
	display: none;
	border-width: 1px;
	border-style: solid;
	background: #fff;
}
.ac_results li {
	padding: 2px 5px;
	white-space: nowrap;
	text-align: left;
}
.ac_over {
	cursor: pointer;
	background: #222;
	color: #fff;
}
.ac_match {
	text-decoration: underline;
}

/* ---------------------------------------------------------------------------------------------------------- 
07 Media Queries --------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* 1170 and down */
@media screen and (max-width:1150px) { 
	.indexpane {
		width: 27em;
		left: -4px;
	}

	.indexpane ul {
		width: 31%;
		margin-right: 2%;
	}

	.gallery-scroll {
		position: relative;
		width: 100%;
		top: inherit;
		padding: 0;
		margin-top: 3em;
		right: inherit;
		clear: both;
	}

	.gallery-scroll .imagewrapper {
		margin: 1em 2em 1em 0;
		float: left;
		height: 250px;
		clear: none;
	}

	.gallery-scroll img {
		max-height: 250px;
	}

}

/* 1094 and down */
@media screen and (max-width:1090px) { 
	body, input, textarea {
		font-size: 14px;
	}
	.searchbox-home {
		margin-bottom: -10px;
	}
	.searchbox-home .quicksearchbox:hover {
		margin: 2px -3px -2px -12px;
	}
	.subnav {
		left: 1px;
		top: 22px;
	}

	.heading-home-en, .heading-home-et {
		margin-left: -166px;
	}

}

/* 960 and down */
@media screen and (max-width:960px) { 
	.column_left {
		width: 63%;
	}
	.column_right {
		width: 33%;
		padding-left: 3%;
		min-width: inherit;
	}
	.mainnav {
		margin-top: 8px;
	}
	.subnav {
		top: 22px;
	}
	.widemenu {
		width: 20em;
	}
	h1 {
		margin-left: 0;
	}

	.indexpane {
		width: 13em;
	}

	.indexpane ul {
		float: none;
		width: 100%;
	}

}

/* 850 and up only styles */
@media screen and (min-width:850px) { 

	/* Fixed header navigation */

	.fixed .mainnav > ul {
		position: fixed;
		height: 28px;
		background: #fff;
		border-bottom: 1px solid #222;
		top: 0;
		left: 0;
		width: 91%;
		padding: 7px 5% 3px;
	}
	
	.fixed span {
		z-index: 17;
		position: relative;
	}
	
	.fixed .subnav {
		z-index: 11;
	}
	
	.fixed nav > h1 {
		position: fixed;
		z-index: 15;
	}
	
	.ie .fixed .headerlinks {
		background: #fff;
		top: 0;
		right: 0;
		left: 0;
		height: 28px;
		padding-top: 10px;
		z-index: 13;
		margin: 0;
	}
	
	.ie .fixed .headerlinks > li {
		float: right;
		margin-right: 5%;
	}
		
	.fixed .mainnav li:after {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 5px;
		background: #fff;
		display: block;
		z-index: 14;
	}	

	.fixed + .container {
		margin-top: 20px;
	}
	
}

/* 850 and down. Our mobile BP */
@media screen and (max-width:850px) { 
	body, input, textarea {
		font-size: 16px;
	}

	.homeheader {
		margin: 0;
		width: 90%;
		height: inherit;
	}

	.heading-home-et, .heading-home-en {
		margin-left: 0;
		left: 0;
	}

	.headerlinks-home {
		position: relative;
		top: 7px;
		left: 0;
		margin-left: 113px;
	}

	.headerlinks-home > .widget {
		display: none;
	}

	.searchbox-home {
		margin: -5px 0 0 0;
		position: relative;
	}

	.searchbox-home .quicksearchbox, .searchbox-home .quicksearchbox:hover {
		width: 70%;
		border: 3px solid #222;
		margin: 0 -3px 5px -12px;
		padding: 0 0 0 9px;
	}
	.searchbox-home .quicksearchbtn {
		display: block;
		float: right;
		width: 23%;
		margin-right: 5%;
		border: 3px solid #222;
		background: #fff;
		font-size: 3.24em;
		line-height: 1;
		letter-spacing: -.02em;
		padding-bottom: 4px;
	}
	h1 {
		margin-left: 1px;
	}

	.indexlinks {
		margin-top: 47px;
	}

	.indexlinks ul {
		width: 100%;
		float: none;
	}

	.indexpane {
		left: -5px;
		width: 30em;
	}

	.indexpane ul {
		width: 31%;
		margin-right: 2%;
		float: left;
	}

	.newsticker {
		height: 2.3em;
		line-height: 2.3em;
	}
	
	header {
		height: 31px;
	}
	
	nav {
		position: fixed;
		width: 0;
		top: 0;
		bottom: 0;
		background: #fff;
		display: block;
		border-right: 1px solid #222;
		z-index: 13;
		overflow: scroll;
		-webkit-transition: width .3s ease, margin .3s ease;
		transition: width .3s ease, margin .3s ease;
		margin-left: -50px;
	}
	
	#navigation:target, .navopened nav {
		width: 290px; 
		margin-left: 0;
	}
	
	nav h1 {
		display: none;
	}

	.mainnav {
		width: 100%;
		padding: 0;
	}	

		.mainnav > ul {
			margin: 0;
		}	
		
			.mainnav ul li {
				width: inherit;
				display: block;
				float: none;
				clear: both;
				padding: 0;
				margin: 0;
				overflow: hidden;
			}

				.mainnav ul li > span {
					margin: 0 .6em;
					font-size: 1.62em;
					line-height: 1.7;
					letter-spacing: -.03em;
				}

				.mainnav ul li.current_page_item > span {
					margin-left: .46em;
				}
					
				.mainnav .pointed_page_item {
					background: #222;
					color: #fff;
					box-shadow: 0 0 0 .2em #222;
					display: block;
					margin: 0;
					padding-left: .6em;
				}
				.mainnav ul li.current_page_item > span.pointed_page_item {
					margin-left: -3px;
				}

				.mainnav .pointed_page_item:hover {
					color: #fff;
					background-color: #222;
					box-shadow: 0 0 0 .2em #222;
				}
	
				.subnav {
					display: none;
					position: relative;
					top: 0;
					left: 0;
					padding: 0 1em 1em;
					width: inherit;
					border: 0;
					overflow: hidden;
					max-height: inherit;
				}
					.subnav ul {
						float: none;
						margin: 0;
						width: 100%;
						font-size: 1em;
						text-transform: uppercase;
					}
						.subnav li {
							margin-bottom: .5em;
							line-height: 2.1;
						}

						.menutitle {
							font-size: 1.62em;
						}
						.menutitle:first-child {
							margin-top: inherit;
						}
						
				.current_page_item > .subnav {
				    left: 0;
				}
	
	.mobileheader {
		display: block;
	}
	
	.fixed .mobileheader {
		position: fixed;
	}
	
	.pageheader {
		border-top: none;
		margin-top: -10px;
		overflow-x: scroll;
	}

	.closenav {
		display: block;
	}
	
	.container, .newsticker, .mobileheader {
		-webkit-transition: margin .3s ease;
		transition: margin .3s ease;
	}
	
	.navopened .container, .navopened .newsticker, .navopened .mobileheader {
		margin-left: 290px;
		min-width: 380px;
		-webkit-transition: margin .3s ease;
		transition: margin .3s ease;
	}
	
	.navopened {
		overflow: hidden;
	}
	
	.navopened .headerlinks {
		display: none;
	}
	
	.subnav ul li a:hover, .mainnav span:hover, .pagenavnew span:hover {
		color: inherit;
		background-color: inherit;
		text-decoration: none;
		box-shadow: none;
	}

	.subnav ul li a:hover {
		color: #fff;
	}
	
	a:active, .mainnav a:active, .subnav a:active, .mainnav span:active, .pagenavnew a:active, .pagenavnew span:active {
		color: #fff;
		background-color: #222;
		text-decoration: none;
		box-shadow: 0 0 0 .2em #222;
	}
	
	.useractions {
		background: #ccc;
		height: 40px;
		line-height: 44px;
		color: #666;
		position: relative;
		width: 96%;
		padding: 2px 2% 0;
		z-index: 12;
		overflow: hidden;
	}
		.usercontent, .userinfo {
			display: none;
		}
		
	.column_left_calendar {
		width: 100%;
		float: none;
	}
	
	.column_right_calendar {
		width: 100%;
		float: none;
		word-wrap: break-word;
	}	
	
	.calendar_datepicker {
		width: 100%;
	}
	.ui-datepicker-calendar tr td {
		padding: .5em 1.4em 0 0;
	}
	
	.calendar_list_left {
		width: 100%;
		float: none;	
	}
	
		.breakable {
			display: none;
		}
		
	.calendar_list_right {
		width: 100%;	
		float: none;
	}
	
		.calendar_list_right h3 {
			margin-top: .3em;
			padding-bottom: 0;
		}

	.tagslist {
		overflow-x: scroll;
	}
	
}

/* 660 and down */
@media screen and (max-width:660px) { 
	
	.column_left, .column_left_new {
		width: 100%;
	}
	.column_right, .column_right_new {
		width: 100%;
		padding-left: 0;
	}

	.indexpane {
		width: 13em;
	}

	.indexpane ul {
		width: 100%;
		float: none;
	}

	.column_left_contacts, .column_right_contacts {
		width: 100%;
		float: none;
	}

		.list_contact_row {
			position: relative;
			padding-top: 1em;
		}

			.contact_card {
				margin: 0 4em 1em 0;
			}

}

/* 600 and down */
@media screen and (max-width:600px) { 
	.newsticker .tickerlinks {
		display: none;
	}

	.homeheader {
		margin: 0;
		width: 90%;
		height: inherit;
	}

		.heading-home-et {
			position: relative;
			left: 0;
			width: 100%;
			margin-left: 0;
			height: 0;
			padding-bottom: 19%;
			background-size: 100%;
			background-position: 0 39%;
			margin-bottom: 1em;
		}

	.headerlinks-home {
		top: 10px;
		left: -18px;
		margin-left: 0;
	}

	.container-home {
		margin-left: 0;
	}

	.searchbox-home {
		position: relative;
		height: 45px;
		padding-top: 0;
		margin: 2em 0 11px;
	}
	.searchbox-home .quicksearchbox, .searchbox-home .quicksearchbox:hover {
		position: absolute;
		padding: 8px 5px 0px 7px;
		border-radius: 0;
		font-size: 1.62em;
		height: inherit;
		width: 65%
	}
	.searchbox-home .quicksearchbtn {
		display: block;
		position: absolute;
		right: 0;
		width: 25%;
		padding: 8px 0;
		border-radius: 0;
		font-size: 1.62em;
	}
	.indexlinks {
		margin-left: 0;
		margin-top: 25px;
		padding: 0 0 0 5%;
	}
	.indexlinks ul li > span {
		font-size: 1.62em;
		line-height: 1.8;
		letter-spacing: -.02em;
	}

	.indexpane {
		font-size: 1em;
		left: -2px;
		top: 42px;
	}
	.indexpane ul li {
		display: block;
		line-height: 2.2;
	}	


	.newsticker {
		height: 2.7em;
		line-height: 2.7em;
	}
	footer .widget_nav_menu {
		display: none;
	}


	.gallery {
		overflow: hidden;
	}

	.gallery-home img, .gallery-projects img {
		max-height: inherit;
		width: 100%;
	}
	
	.gallery-home .imagewrapper, .gallery-projects .imagewrapper {
		margin: 2em 0 0;
		float: none;
		height: inherit;
		width: 100%;
	}

	.gallery-dept .imagewrapper {
		margin-bottom: 6em;
	}



	.attachment-medium {
		max-height: 1000px;
		width: 100%;
	}

	.gallery-scroll .imagewrapper {
		margin: 0 0 2em 0;
		float: none;
		height: inherit;
		width: 100%;
		clear: both;
	}

	.gallery-scroll img {
		max-height: 1000px;
		width: 100%;
	}

	.gallery-scroll:hover img {
		max-height: 1000px;
	}

}

/* For extra large screens */
@media screen and (min-width:2100px) { 
	body, input, textarea {
		font-size: 18px;
	}
	.searchbox-home {
		margin: 0 770px 0 5%;
	}
}


/* ---------------------------------------------------------------------------------------------------------- 
08 Medium Editor --------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* Medium Editor Stylesheet, 5.22.1 */
.medium-editor-anchor-preview,.medium-editor-toolbar{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:16px;z-index:2000}@-webkit-keyframes medium-editor-image-loading{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes medium-editor-image-loading{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1);transform:scale(1)}}@-webkit-keyframes medium-editor-pop-upwards{0%{opacity:0;-webkit-transform:matrix(.97,0,0,1,0,12);transform:matrix(.97,0,0,1,0,12)}20%{opacity:.7;-webkit-transform:matrix(.99,0,0,1,0,2);transform:matrix(.99,0,0,1,0,2)}40%{opacity:1;-webkit-transform:matrix(1,0,0,1,0,-1);transform:matrix(1,0,0,1,0,-1)}100%{-webkit-transform:matrix(1,0,0,1,0,0);transform:matrix(1,0,0,1,0,0)}}@keyframes medium-editor-pop-upwards{0%{opacity:0;-webkit-transform:matrix(.97,0,0,1,0,12);transform:matrix(.97,0,0,1,0,12)}20%{opacity:.7;-webkit-transform:matrix(.99,0,0,1,0,2);transform:matrix(.99,0,0,1,0,2)}40%{opacity:1;-webkit-transform:matrix(1,0,0,1,0,-1);transform:matrix(1,0,0,1,0,-1)}100%{-webkit-transform:matrix(1,0,0,1,0,0);transform:matrix(1,0,0,1,0,0)}}.medium-editor-anchor-preview{left:0;line-height:1.4;max-width:280px;position:absolute;text-align:center;top:0;word-break:break-all;word-wrap:break-word;visibility:hidden}.medium-editor-anchor-preview a{color:#fff;display:inline-block;margin:5px 5px 10px}.medium-editor-placeholder-relative:after,.medium-editor-placeholder:after{content:attr(data-placeholder)!important;white-space:pre;padding:inherit;margin:inherit;font-style:italic}.medium-editor-anchor-preview-active{visibility:visible}.medium-editor-dragover{background:#ddd}.medium-editor-image-loading{-webkit-animation:medium-editor-image-loading 1s infinite ease-in-out;animation:medium-editor-image-loading 1s infinite ease-in-out;background-color:#333;border-radius:100%;display:inline-block;height:40px;width:40px}.medium-editor-placeholder{position:relative}.medium-editor-placeholder:after{position:absolute;left:0;top:0}.medium-editor-placeholder-relative,.medium-editor-placeholder-relative:after{position:relative}.medium-toolbar-arrow-over:before,.medium-toolbar-arrow-under:after{border-style:solid;content:'';display:block;height:0;left:50%;margin-left:-8px;position:absolute;width:0}.medium-toolbar-arrow-under:after{border-width:8px 8px 0}.medium-toolbar-arrow-over:before{border-width:0 8px 8px;top:-8px}.medium-editor-toolbar{left:0;position:absolute;top:0;visibility:hidden}.medium-editor-toolbar ul{margin:0;padding:0}.medium-editor-toolbar li{float:left;list-style:none;margin:0;padding:0}.medium-editor-toolbar li button{box-sizing:border-box;cursor:pointer;display:block;font-size:14px;line-height:1.33;margin:0;padding:15px;text-decoration:none}.medium-editor-toolbar li button:focus{outline:0}.medium-editor-toolbar li .medium-editor-action-underline{text-decoration:underline}.medium-editor-toolbar li .medium-editor-action-pre{font-family:Consolas,"Liberation Mono",Menlo,Courier,monospace;font-size:12px;font-weight:100;padding:15px 0}.medium-editor-toolbar-active{visibility:visible}.medium-editor-sticky-toolbar{position:fixed;top:1px}.medium-editor-relative-toolbar{position:relative}.medium-editor-toolbar-active.medium-editor-stalker-toolbar{-webkit-animation:medium-editor-pop-upwards 160ms forwards linear;animation:medium-editor-pop-upwards 160ms forwards linear}.medium-editor-action-bold{font-weight:bolder}.medium-editor-action-italic{font-style:italic}.medium-editor-toolbar-form{display:none}.medium-editor-toolbar-form a,.medium-editor-toolbar-form input{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}.medium-editor-toolbar-form .medium-editor-toolbar-form-row{line-height:14px;margin-left:5px;padding-bottom:5px}.medium-editor-toolbar-form .medium-editor-toolbar-input,.medium-editor-toolbar-form label{border:none;box-sizing:border-box;font-size:14px;margin:0;padding:6px;width:316px;display:inline-block}.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,.medium-editor-toolbar-form label:focus{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;box-shadow:none;outline:0}.medium-editor-toolbar-form a{display:inline-block;font-size:24px;font-weight:bolder;margin:0 10px;text-decoration:none}.medium-editor-toolbar-form-active{display:block}.medium-editor-toolbar-actions:after{clear:both;content:"";display:table}.medium-editor-element{word-wrap:break-word;min-height:30px}.medium-editor-element img{max-width:100%}.medium-editor-element sub{vertical-align:sub}.medium-editor-element sup{vertical-align:super}.medium-editor-hidden{display:none}
/* Medium Editor Tables Extension stylesheet, 0.5.3 */
.medium-editor-table-builder{display:none;position:absolute;left:0;top:101%}.medium-editor-table-builder *{box-sizing:border-box}.medium-editor-table-builder-grid{border:1px solid #000;border-radius:3px;overflow:hidden}.medium-editor-table-builder-cell{background-color:#333;border:1px solid #000;display:block;float:left;height:16px;margin:0;width:16px}.medium-editor-table-builder-cell.active,.medium-editor-table-builder-cell:hover{background-color:#ccc}.medium-editor-table{border-collapse:collapse;resize:both;table-layout:fixed}.medium-editor-table,.medium-editor-table td{border:1px dashed #e3e3e3}.medium-editor-table-builder-toolbar{display:block;min-width:162px;background-color:#333;font-size:.8em;color:#fff}.medium-editor-table-builder-toolbar span{width:45px;display:block;float:left;margin-left:5px}.medium-editor-table-builder-toolbar button{margin:0 3px;background-color:#333;border:0;width:30px;cursor:pointer}.medium-editor-table-builder-toolbar button i{color:#fff}

span.medium-editor-element {
	display: inline-block;
	min-width: 10.5em;
	min-height: 1em;
}

[contenteditable="true"] { 
	border: 1px dashed green;
	margin-left: -4px;
	padding-left: 3px;
	margin-right: -4px;
	padding-right: 3px;
}

[contenteditable="true"] td { 
	border: 1px dashed #e3e3e3;
}

.addpost_content[contenteditable="true"] { 
	margin-left: -1px;
	margin-right: -1px;
}

.editableonly {
	display: none;
}
.editing .editableonly {
	display: inherit;
}
.editing .editableonly a {
	width: 1px;
	overflow: visible;
}

/* Flat template with Artun.ee modifications */
.medium-toolbar-arrow-under:after {
	top: 60px;
	border-color: green transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
	top: -8px;
	border-color: transparent transparent green transparent;
}

.medium-editor-toolbar {
  background-color: green; }
  .medium-editor-toolbar li {
	padding: 0; }
	.medium-editor-toolbar li button {
	  min-width: 60px;
	  height: 60px;
	  border: none;
	  border-right: 1px solid #9ccea6;
	  background-color: transparent;
	  color: #fff;
	  -webkit-transition: background-color .2s ease-in, color .2s ease-in;
			  transition: background-color .2s ease-in, color .2s ease-in; }
	  .medium-editor-toolbar li button:hover {
		background-color: darkgreen;
		color: #fff; }
	.medium-editor-toolbar li .medium-editor-button-active {
	  background-color: #23482a;
	  color: #fff; }
	.medium-editor-toolbar li .medium-editor-button-last {
	  border-right: none; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  height: 60px;
  background: green;
  color: #fff; }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
	color: #fff;
	color: rgba(255, 255, 255, .8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
	color: rgba(255, 255, 255, .8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
	color: rgba(255, 255, 255, .8); }
  .medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
	color: #fff;
	color: rgba(255, 255, 255, .8); }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: green;
  color: #fff; }

.medium-editor-placeholder:after {
	color: #999; 
	font-style: normal;
	left: 4px;
}


/* Modal overlay */
.open-modal {
	position: fixed;
	top: 35%;
	right: 2em;
	line-height: 2em;
	height: 2.5em;
	width: 20%;
	text-align: center;
	background: red;
	color: white;
	cursor: pointer;
	-ms-transform: rotate(-90deg);
	-ms-transform-origin: right top;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: right top;
	transform: rotate(-90deg);
	transform-origin: right top;
	transition: right .3s;
}

	.open-modal:hover {
		right: 2.5em;
	}

.modal-container {
	position: fixed;
	background: rgba(255, 0, 0, .7);
	height: 100%;
	width: 100%;
	top: 0;
	right: -100%;
	z-index: 999;
	transition: right .3s;
}

	.modal-content {
		position: absolute;
		top: 10%;
		left: 10%;
		right: 10%;
		bottom: 10%;
		background: #fff;
	}

	.close-modal {
		position: absolute;
		top: 1em;
		right: 1em;
		color: white;
		cursor: pointer;
		font-size: 2em;
	}

.modal-container.open {
	right: 0;
}	